<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Kode is a Premium Bootstrap Admin Template, It's responsive, clean coded and mobile friendly">
  <meta name="keywords" content="bootstrap, admin, dashboard, flat admin template, responsive," />
  <title>Voxolab - Dashboard login</title>

  <!-- ========== Css Files ========== -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('frontend.static', filename='lib/kode/css/root.css') }}">
  <style type="text/css">
    body{background: #F5F5F5;}
  </style>
  </head>
  <body>
    {% block content %}{% endblock %}

</body>
</html>
